<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>select</title>
    <style>
        [v-cloak]{display: none}
    </style>
</head>
<body>
<div id="app" v-cloak>
<select v-model="a" multiple>
    <option value="" disabled>请选择</option>
    <option value="1">你好</option>
    <option value="2">我好</option>
    <option value="3">他好</option>
</select>
    <!--如果value属性不写默认取的是option的值，请选择这一项要加disabled-->
    <!--如果select是多选框 则数据类型要是数组类型-->
    {{a}}

    <input type="radio" v-model="gender" value="nan">男
    <input type="radio" v-model="gender" value="nv">女
    {{gender}}
</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm=new Vue({
        el:"#app",
        data:{
            a:[],
            gender:'nan'
        }
    });
</script>
</body>
</html>