<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="val" @keyup="add">
    <ul >
        <li v-for=" a in arr">{{a}}  <botton @click="del"></botton></li>
    </ul>
</div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm=new Vue({
        el:"#app",
        data:{
            arr:[],
            val:"",
        },
        methods:{
            add:function(e){
                if(e.keyCode==13){
                    this.arr.push(this.val);
                    this.val="";
                }

            },
            del:function(val){

            }
        }
    })
</script>
</body>
</html>