<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todoList</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <style>
        .del{text-decoration: line-through;color: gray}
    </style>
</head>
<body>
<div id="app">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                       ToDoList
                    </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-warning">
                        <div class="panel-heading text-danger">
                            <h3>亲，你有{{count}}件事要完成~</h3>
                            <input type="text" class="form-control" v-model="title" @keyup.13="add">
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" v-for="(item,index) in todos" @dblclick="remember(item)">
                                    <!--如果isSelected为true 则del生效-->
                                    <!--当点击li时，可以知道点击的是哪一项，如果点击的item与当前循环的某一个相等时
                                    应该显示输入框-->
                                    <span :class="{del : item.isSelected}" v-show="current!=item">
                                    <input type="checkbox" v-model="item.isSelected" >{{item.title}}
                                    </span>
                                    <input type="text" v-model="item.title" v-show="current==item"
                                           @keyup.enter="cancel" @blur="cancel" v-focus-aa="current==item">
                                    <button class="float-right btn-danger" @click="remove(item)" >&bigotimes;</button>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <ul class="nav nav-pills">
                                <li><a href="#/all" :class="{active : hash=='all'}">全部</a></li>
                                <li><a href="#/finish" :class="{active : hash=='finish'}">已完成</a></li>
                                <li><a href="#/unfinish" :class="{active : hash=='unfinish'}">未完成</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../node_modules/axios/dist/axios.js"></script>
<script src="todo.js"></script>
</body>
</html>